.m-addressList th,.m-addressList tr:hover {
	background-color: #f5f5f5
}

a {
	cursor: pointer
}

.w-address-top {
	position: relative;
	overflow: hidden;
	line-height: 1;
	width: 890px
}

.w-address-top .title {
	float: left;
	font-size: 14px;
	padding-left: 10px
}

.w-address-top .add {
	float: right;
	font-size: 14px;
	padding-right: 3px
}

.w-address-none {
	width: 890px;
	height: 480px;
	border: 1px solid #e8e8e8;
	text-align: center
}

.w-address-none .icon-normal-addr {
	margin: 148px auto 0
}

.w-address-none .tip {
	text-align: center;
	margin: 16px auto 0;
	font-size: 18px
}

.w-address-none .add {
	font-size: 14px;
	display: block
}

.m-addressList {
	border: 1px solid #e8e8e8;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px
}

.m-addressList .w1 {
	width: 65px
}

.m-addressList .w2 {
	width: 120px
}

.m-addressList .w3,.m-addressList .w4 {
	width: 250px
}

.m-addressList .w5 {
	width: 76px
}

.m-addressList .w6 {
	width: 130px
}

.m-addressList th {
	text-align: center;
	font-weight: 400;
	height: 43px;
	color: #999;
	border-bottom: 1px solid #e8e8e8
}

.m-addressList td {
	/*height: 100px;*/
	text-align: center;
	word-wrap: break-word;
	word-break: break-all
}

.m-addressList td .w-link-1 {
	margin-left: 15px
}